* {
	box-sizing: border-box;
}

body,
select,
textarea,
input,
button {
	font-family: "Rubik",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans",sans-serif;
	line-height: 1.4;
	-webkit-text-size-adjust: 100%;
}

body,
textarea,
input {
	font-size: 125%;
}

main {
	width: 30em;
	margin: 0 auto;
	padding-top: 2rem;
}

h1, h2, h3 {
	font-weight: 500;
	margin: 0;
}

h1 {
	font-size: 2em;
	margin: 0 0 2rem;
}

h1 span {
	background: #fe3;
}

h2 {
	font-size: 1.25em;
}

input[type=checkbox] {
	position: absolute;
	opacity: 0;
}

input[type=checkbox]~label {
	margin-left: 1.75rem;
	margin-right: 3rem;
	cursor: pointer;
}

input[type=checkbox]~label:before {
	display: block;
	content: "";
	width: 0.75em;
	height: 0.75em;
	position: absolute;
	margin-top: 0.25em;
	border-radius: 0.1875em;
	border: 0.125em solid #534f50;
}

input[type=checkbox]:checked~label:before {
	background: linear-gradient(-45deg, transparent 0%, transparent 40%, #534f50 40%, #534f50 55%, transparent 55%, transparent 100%);
	border-color: #534f50;
}

input[type=checkbox]:checked~label {
	background: #fe3;
}

.select-row input[type=checkbox]~label {
	margin: 0;
	display: block;
}

.select-row input[type=checkbox]:checked~label {
	background: none;
}

table {
	width: 100%;
	border-collapse: collapse;
}

td {
	padding: 0.25em 0.5em;
}

thead tr {
	background: #231f20;
	color: white;
	-webkit-font-smoothing: antialiased;
}

thead a {
	color: white;
	padding: 0 0.25em
}

tbody tr.row-selected {
	background: #ff9;
}

tbody td {
	border-bottom: 2px solid #ddd;
}

.active {
	background: #fe3;
	color: #231f20;
	text-decoration: none;
}

.alert {
	background-image: linear-gradient(225deg, #0ae 0%, #0ae 5%, transparent 5%, transparent 100%);
}

.warning {
	background-color: rgba(0, 170, 238, 0.12);
}

.flat-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.filters,
.columns {
	background: #eee;
	padding: .75rem 1rem;
	margin-bottom: 1rem;
}

.filters ul,
.columns ul {
	display: flex;
}

footer {
	margin: 1rem 0 0;
}

.button {
	background: #231f20;
	color: white;
	font-size: 1em;
	padding: 0.25rem 1rem;
	border: 2px solid #231f20;
	border-radius: 0.125em;
	-webkit-font-smoothing: antialiased;
	margin-right: 0.75rem;
}

.button-secondary {
	border: 2px solid #231f20;
	background: transparent;
	color: #231f20;
}
